.header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navlink {
        padding: 10px 15px;
        color: $primary-color;
        text-decoration: none;
        font-size: 24px;
        text-align: center;

        @include mobile-only {
            font-size: 12px;
        }
    }
}

.homelogo {
    height: 68px;
    @include mobile-only {
        height: 30px;
    }
}
