.banner {
    position: relative;
    display: flex;
    width: 100%;
    height: 220px;
    flex-shrink: 0;
    border-radius: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../../assets/Banner/HomeIllustration.png);
    background-size: cover;
    background-position: center;
    mix-blend-mode: darken;
    overflow: hidden;
    align-items: center;
    margin: 20px auto;

    @include mobile-only {
        height: 130px;
        max-width: 95%;
    }
    @include smallmobile-only {
        margin: 10px auto;
    }
    &_concerning {
        position: relative;
        display: flex;
        width: 100%;
        height: 220px;
        flex-shrink: 0;
        border-radius: 25px;
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.3)
            ),
            url(../../assets/Banner/ConcerningIllustration.png);
        background-size: cover;
        background-position: center;
        mix-blend-mode: darken;
        overflow: hidden;
        align-items: center;
        margin: 20px auto;
        max-width: 95%;
        @include mobile-only {
            height: 130px;
        }
    }

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        width: 100%;
        height: 100%;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%; /* 68.448px */
        z-index: 1;
        @include mobile-only {
            font-size: 20px;
        }
    }
}
