.host-wrapper {
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 30px;
    @include mobile-only {
        height: auto;
        width: 50%;
        gap: 20px;
        justify-content: flex-end;
    }
    .host-wrapper__contenant {
        text-align: right;
        color: $primary-color;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        height: 64px;
        padding: 20px;
        display: flex;
        align-items: center;
        width: 90px;
    }
    img {
        width: 64px;
        height: 64px;
        flex-shrink: 0;
        border-radius: 50%;
    }
}
.rate-contenair {
    height: 50%;
    display: flex;
    align-items: flex-end;
}
