.locationpres {
    .location {
        display: flex;
        justify-content: space-between;
        margin: 40px 0px;
        @include mobile-only {
            flex-direction: column;
        }

        .location-localisation {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 60%;
            gap: 20px;
            @include mobile-only {
                width: 100%;
                max-width: 100%;
            }
            h1 {
                color: $primary-color;
                font-size: 36px;
                font-style: normal;
                font-weight: 500;
            }
            h2 {
                color: $primary-color;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
            }
        }
        .location-host {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;
            @include mobile-only {
                width: 100%;
                flex-direction: row-reverse;
                align-items: normal;
                align-items: center;
                margin-top: 40px;
            }
        }
    }
    .collapse {
        display: flex;
        justify-content: space-around;
        gap: 100px;
        margin: 10px 0px;
        height: 100%;
        @include mobile-only {
            flex-direction: column;
            gap: 20px;
        }
    }
}
