.homecontainer {
    padding: 0 20px;
    max-width: 1440px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    @include smallmobile-only {
        align-items: center;
    }

    .cardscontainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 50px;
        padding: 50px;
        border-radius: 25px;
        background-color: $background-colorlight;
        @include mobile-only {
            padding: 30px 0;
            background-color: #fff;
        }
        @include smallmobile-only {
            margin-top: 0px;
            padding: 10px 0;
        }
    }
}
