* {
    font-family: 'Montserrat', 'Trebuchet MS', Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
    max-width: 1440px;
    font-weight: 100;
    padding: 20px;
    @include mobile-only {
        padding: 15px;
    }
    @include smallmobile-only {
        padding: 10px;
    }
}
